.category-text {
  margin-left: 16px;
}
.categories {
  width: 100%;
  padding-bottom: 16px;
}
.modal-close {
  color: #edcc6d;
}

.ceremony-date {
  margin-top: 0px;
  margin-bottom: 20px;
}

.awards-page {
  padding-top: 16px;
}

.form-start {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.start-button {
  padding-top: 16px;
}

.ant-btn {
  font-family: "futura book legacy","FuturaPT-Book",Futura,"Trebuchet MS",Arial,sans-serif;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .categories > .click-container-root {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
