.selectable-nominee-container {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selectable-nominee {
  flex-grow: 1;
}

.selected-container {
  flex-shrink: 1;
  padding-left: 8px;
  padding-right: 8px;
  width: 40px;
}

/* hacky overrides */
.ant-modal {
  top: 8px;
  max-width: calc(100vw - 16px);
}
.ant-modal .ant-modal-content {
  height: calc(100vh - 16px);
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #212121;
}
.ant-modal .ant-modal-header {
  flex-shrink: 1;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #212121;
}
.ant-modal .ant-modal-title {
  margin-right: 20px;
  color: #edcc6d;
  font-family: "futura book legacy","FuturaPT-Book",Futura,"Trebuchet MS",Arial,sans-serif;
  text-transform: uppercase;
  font-weight: unset;
}
.ant-modal .ant-modal-footer {
  padding-left: 16px;
  padding-right: 16px;
  flex-shrink: 1;
}
.ant-modal .ant-modal-body {
  flex-grow: 1;
  padding-left: 16px;
  padding-right: 16px;
  overflow: scroll;
}
.ant-btn-default:disabled {
  border-color: #292929;
  color: rgba(255, 2555, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.04)
}
.ant-btn-default {
  background-color: rgba(0,0,0,0);
  color: #fff;
}
.ant-btn-default:not(:disabled):active,
.ant-btn-default:not(:disabled):hover {
  color: #fff;
  border-color: #fff;
}
