.App {
  text-align: center;
  background-color: #111;
  height: calc(100dvh - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  overflow: scroll;
}

.main-text, .main-text:hover {
  color: #edcc6d;
  font-family: "futura book legacy","FuturaPT-Book",Futura,"Trebuchet MS",Arial,sans-serif;
  text-transform: uppercase;
}

.secondary-text {
  color: #fff;
  font-family: "futura book legacy","FuturaPT-Book",Futura,"Trebuchet MS",Arial,sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}

.secondary-text-serif {
  color: #fff;
  font-family: "Hoefler Text 4r",Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
  font-size: 16px;
}

.tertiary-text {
  color: #fff;
  font-family: "futura book legacy","FuturaPT-Book",Futura,"Trebuchet MS",Arial,sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0px;
}

.logo-text {
  font-size: 24px;
}

/* hacky overrides */
.ant-btn-text:not(:disabled):hover {
  color: #C79F27;
}
.ant-btn {
  height: unset;
}
