.ceremony-link {
  width: 100%;
}
.home-footer {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}

.home-body {
  padding-top: 12px;
  flex-grow: 1;
}

.home-subtitle {
  margin-bottom: 24px;
}
